---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Profile</div>
	</div>

	<div class="mb-10 text-justify">
		<!-- Engineer in Informatics Science with 6 years + of experience in software
		development. Dominion of various programming languages, frameworks, CMS and
		graphics engines. Experience in WEB design and development. Work with Data
		Base handled systems, as well as design, normalization and migration.
		Knowledge of work with graphic design tools for image manipulation , User
		Interfaces design, Web sites, logos and other ones. -->
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Education</div>
	</div>

	<div class="time-line-container grid gap-4 mb-10">
		<TimeLineElement
			title="Colorado School of Mines"
			date="(Aug 2019 - Expected May 2023)"
			subtitle="Bachelors of Science, Computer Science"
			location="Golden, CO"
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Experience</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="National Oceanic and Atmospheric Administration"
			subtitle="Career Connect Intern"
			desc="Highschool career connect internship program where you work with a client and gain experience working with technology. Created post cards to handout to people visiting NOAA booths during career fairs Worked in a professional environment where I gained experience in this environment and eventually presented my works at a fair with my peers."
			location="Boulder, CO"
		/>
	</div>

	<!-- <div class="mb-5">
		<div class="text-3xl w-full font-bold">Certifications</div>
	</div>

	<ul class="list-disc mx-6 mb-10 grid gap-2">
		<li>
			<a href="https://www.efset.org/cert/DxtNKG" target="_blank">
				EF SET English Certificate 74/100 (C2 Proficient)</a
			>
		</li>
		<li>
			<a
				href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp"
				target="_blank"
			>
				Scrum Foundation Professional Certificate (SFPC)</a
			>
		</li>
	</ul> -->

	<!-- <div class="mb-5">
		<div class="text-3xl w-full font-bold">Skills</div>
	</div> -->

	<div class="flex items-center gap-2 mb-8">
		<svg
			stroke="currentColor"
			fill="currentColor"
			stroke-width="0"
			viewBox="0 0 512 512"
			height="24"
			width="24"
			xmlns="http://www.w3.org/2000/svg"
			><path
				d="M501.1 395.7L384 278.6c-23.1-23.1-57.6-27.6-85.4-13.9L192 158.1V96L64 0 0 64l96 128h62.1l106.6 106.6c-13.6 27.8-9.2 62.3 13.9 85.4l117.1 117.1c14.6 14.6 38.2 14.6 52.7 0l52.7-52.7c14.5-14.6 14.5-38.2 0-52.7zM331.7 225c28.3 0 54.9 11 74.9 31l19.4 19.4c15.8-6.9 30.8-16.5 43.8-29.5 37.1-37.1 49.7-89.3 37.9-136.7-2.2-9-13.5-12.1-20.1-5.5l-74.4 74.4-67.9-11.3L334 98.9l74.4-74.4c6.6-6.6 3.4-17.9-5.7-20.2-47.4-11.7-99.6.9-136.6 37.9-28.5 28.5-41.9 66.1-41.2 103.6l82.1 82.1c8.1-1.9 16.5-2.9 24.7-2.9zm-103.9 82l-56.7-56.7L18.7 402.8c-25 25-25 65.5 0 90.5s65.5 25 90.5 0l123.6-123.6c-7.6-19.9-9.9-41.6-5-62.7zM64 472c-13.2 0-24-10.8-24-24 0-13.3 10.7-24 24-24s24 10.7 24 24c0 13.2-10.7 24-24 24z"
			></path></svg
		><span class="text-3xl w-full font-bold">Skills</span>
	</div>
	<div
		class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-5"
	>
		<div
			class="px-4 py-2 border border-neutral-900/10 dark:border-neutral-50/10 hover:border-neutral-900/30 dark:hover:border-neutral-50/30 rounded flex items-center gap-4 transition-colors duration-700 hover:duration-100"
		>
			<div class="w-5 h-5">
				<span
					style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%"
					><span
						style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%"
						><img
							style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0"
							alt=""
							aria-hidden="true"
							src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2720%27/%3e"
						/></span
					><img
						alt="Web Design & Development"
						src="/_next/image?url=%2Fimages%2Fskills%2Fweb.png&w=48&q=75"
						decoding="async"
						data-nimg="intrinsic"
						style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"
						srcset="/_next/image?url=%2Fimages%2Fskills%2Fweb.png&w=32&q=75 1x, /_next/image?url=%2Fimages%2Fskills%2Fweb.png&w=48&q=75 2x"
					/><noscript
						><img
							alt="Web Design & Development"
							srcSet="/_next/image?url=%2Fimages%2Fskills%2Fweb.png&w=32&q=75 1x, /_next/image?url=%2Fimages%2Fskills%2Fweb.png&w=48&q=75 2x"
							src="/_next/image?url=%2Fimages%2Fskills%2Fweb.png&w=48&q=75"
							decoding="async"
							data-nimg="intrinsic"
							style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"
							loading="lazy"
						/></noscript
					></span
				>
			</div><div class="min-w-0 flex-1 flex flex-col">
				<strong class="truncate">Web Design &amp; Development</strong><small
					class="truncate"
					>(<!-- -->HTML, CSS, JavaScript, TypeScript<!-- -->)</small
				>
			</div>
		</div><div
			class="px-4 py-2 border border-neutral-900/10 dark:border-neutral-50/10 hover:border-neutral-900/30 dark:hover:border-neutral-50/30 rounded flex items-center gap-4 transition-colors duration-700 hover:duration-100"
		>
			<div class="w-5 h-5">
				<span
					style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%"
					><span
						style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%"
						><img
							style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0"
							alt=""
							aria-hidden="true"
							src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2720%27/%3e"
						/></span
					><img
						alt="Frontend Javascript Frameworks"
						src="/_next/image?url=%2Fimages%2Fskills%2Freact.png&w=48&q=75"
						decoding="async"
						data-nimg="intrinsic"
						style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"
						srcset="/_next/image?url=%2Fimages%2Fskills%2Freact.png&w=32&q=75 1x, /_next/image?url=%2Fimages%2Fskills%2Freact.png&w=48&q=75 2x"
					/><noscript
						><img
							alt="Frontend Javascript Frameworks"
							srcSet="/_next/image?url=%2Fimages%2Fskills%2Freact.png&w=32&q=75 1x, /_next/image?url=%2Fimages%2Fskills%2Freact.png&w=48&q=75 2x"
							src="/_next/image?url=%2Fimages%2Fskills%2Freact.png&w=48&q=75"
							decoding="async"
							data-nimg="intrinsic"
							style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"
							loading="lazy"
						/></noscript
					></span
				>
			</div><div class="min-w-0 flex-1 flex flex-col">
				<strong class="truncate">Frontend Javascript Frameworks</strong><small
					class="truncate">(<!-- -->ReactJS, NextJS<!-- -->)</small
				>
			</div>
		</div><div
			class="px-4 py-2 border border-neutral-900/10 dark:border-neutral-50/10 hover:border-neutral-900/30 dark:hover:border-neutral-50/30 rounded flex items-center gap-4 transition-colors duration-700 hover:duration-100"
		>
			<div class="w-5 h-5">
				<span
					style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%"
					><span
						style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%"
						><img
							style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0"
							alt=""
							aria-hidden="true"
							src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2720%27/%3e"
						/></span
					><img
						alt="Backend Javascript Frameworks"
						src="/_next/image?url=%2Fimages%2Fskills%2Fnodejs.png&w=48&q=75"
						decoding="async"
						data-nimg="intrinsic"
						style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"
						srcset="/_next/image?url=%2Fimages%2Fskills%2Fnodejs.png&w=32&q=75 1x, /_next/image?url=%2Fimages%2Fskills%2Fnodejs.png&w=48&q=75 2x"
					/><noscript
						><img
							alt="Backend Javascript Frameworks"
							srcSet="/_next/image?url=%2Fimages%2Fskills%2Fnodejs.png&w=32&q=75 1x, /_next/image?url=%2Fimages%2Fskills%2Fnodejs.png&w=48&q=75 2x"
							src="/_next/image?url=%2Fimages%2Fskills%2Fnodejs.png&w=48&q=75"
							decoding="async"
							data-nimg="intrinsic"
							style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"
							loading="lazy"
						/></noscript
					></span
				>
			</div><div class="min-w-0 flex-1 flex flex-col">
				<strong class="truncate">Backend Javascript Frameworks</strong><small
					class="truncate">(<!-- -->Node.js, Express.js<!-- -->)</small
				>
			</div>
		</div><div
			class="px-4 py-2 border border-neutral-900/10 dark:border-neutral-50/10 hover:border-neutral-900/30 dark:hover:border-neutral-50/30 rounded flex items-center gap-4 transition-colors duration-700 hover:duration-100"
		>
			<div class="w-5 h-5">
				<span
					style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%"
					><span
						style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%"
						><img
							style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0"
							alt=""
							aria-hidden="true"
							src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2720%27/%3e"
						/></span
					><img
						alt="Database Management System"
						src="/_next/image?url=%2Fimages%2Fskills%2Fdatabase.png&w=48&q=75"
						decoding="async"
						data-nimg="intrinsic"
						style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"
						srcset="/_next/image?url=%2Fimages%2Fskills%2Fdatabase.png&w=32&q=75 1x, /_next/image?url=%2Fimages%2Fskills%2Fdatabase.png&w=48&q=75 2x"
					/><noscript
						><img
							alt="Database Management System"
							srcSet="/_next/image?url=%2Fimages%2Fskills%2Fdatabase.png&w=32&q=75 1x, /_next/image?url=%2Fimages%2Fskills%2Fdatabase.png&w=48&q=75 2x"
							src="/_next/image?url=%2Fimages%2Fskills%2Fdatabase.png&w=48&q=75"
							decoding="async"
							data-nimg="intrinsic"
							style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"
							loading="lazy"
						/></noscript
					></span
				>
			</div><div class="min-w-0 flex-1 flex flex-col">
				<strong class="truncate">Database Management System</strong><small
					class="truncate"
					>(<!-- -->PostgresQL, MongoDB, Mongoose<!-- -->)</small
				>
			</div>
		</div><div
			class="px-4 py-2 border border-neutral-900/10 dark:border-neutral-50/10 hover:border-neutral-900/30 dark:hover:border-neutral-50/30 rounded flex items-center gap-4 transition-colors duration-700 hover:duration-100"
		>
			<div class="w-5 h-5">
				<span
					style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%"
					><span
						style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%"
						><img
							style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0"
							alt=""
							aria-hidden="true"
							src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2720%27/%3e"
						/></span
					><img
						alt="Programming Languages"
						src="/_next/image?url=%2Fimages%2Fskills%2Fcomputer.png&w=48&q=75"
						decoding="async"
						data-nimg="intrinsic"
						style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"
						srcset="/_next/image?url=%2Fimages%2Fskills%2Fcomputer.png&w=32&q=75 1x, /_next/image?url=%2Fimages%2Fskills%2Fcomputer.png&w=48&q=75 2x"
					/><noscript
						><img
							alt="Programming Languages"
							srcSet="/_next/image?url=%2Fimages%2Fskills%2Fcomputer.png&w=32&q=75 1x, /_next/image?url=%2Fimages%2Fskills%2Fcomputer.png&w=48&q=75 2x"
							src="/_next/image?url=%2Fimages%2Fskills%2Fcomputer.png&w=48&q=75"
							decoding="async"
							data-nimg="intrinsic"
							style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"
							loading="lazy"
						/></noscript
					></span
				>
			</div><div class="min-w-0 flex-1 flex flex-col">
				<strong class="truncate">Programming Languages</strong><small
					class="truncate">(<!-- -->C++, Java, Python, OCaml<!-- -->)</small
				>
			</div>
		</div>
	</div>

	<!-- <ul class="list-disc md:columns-5 columns-2 mx-6">
		<li>Spanish (Native)</li>
		<li>English (C2)</li>
		<li>JavaScript</li>
		<li>C++</li>
		<li>PHP</li>
		<li>Ruby</li>
		<li>Postgres SQL</li>
		<li>MySQL</li>
		<li>CSS</li>
		<li>SASS</li>
		<li>HTML</li>
		<li>Node.js</li>
		<li>Ruby on Rails</li>
		<li>AngularJS</li>
		<li>VUE</li>
		<li>Astro</li>
		<li>Symfony 3</li>
		<li>Yii2</li>
		<li>Bootstrap</li>
		<li>Taildwind</li>
		<li>JQuery</li>
		<li>Wordpress</li>
		<li>Git</li>
		<li>Jira</li>
		<li>Trello</li>
		<li>BaseCamp</li>
		<li>Scrum</li>
		<li>Shape Up</li>
		<li>LeanStartup</li>
		<li>UI Design</li>
		<li>WEB Design</li>
		<li>Logo Design</li>
		<li>Image Manipulation</li>
		<li>Office Suite</li>
		<li>Adobe Photoshop</li>
		<li>KdenLive</li>
	</ul> -->
</BaseLayout>
