---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
	<div class="pb-12 mt-5">
		<div class="text-xl py-1">Hey there 👋</div>
		<div class="text-5xl font-bold">I'm Jimmy Truong</div>
		<div class="text-3xl py-3 font-bold">Software Engineer</div>
		<div class="py-2">
			<text class="">
				<span>
					My name is Jimmy Truong, and as you might have already read, I'm a
					Software Engineer, and a current Senior in a Computer Science Major.
					This website was made to showcase all of my projects and experience.
				</span>
				<br />
				<br />
				<span>
					I got into Computer Science because I was always on the computer as a
					kid and I wanted to learn how to make the things I was playing with.
					I've always been interested in the idea of creating something from
					nothing, and Computer Science is the perfect field for that.
				</span>
				<br />
				<br />
				<span>
					I'm currently a Senior in Computer Science at the Colorado School of
					Mines and will graduate on May 2023. After graduatation, I would like
					to go directly into the industry. I'm currently looking for a
					full-time position as a Software Engineer.
				</span>
				<!-- <br />
				<br /> -->
				<!-- <span>
					I'm currently working on a few projects, but I'm always looking for
					new ones. If you have any ideas, feel free to reach out to me on my
					LinkedIn or in the Contact Form at the bottom.
				</span> -->
			</text>
		</div>
	</div>

	<div>
		<div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
	</div>

	<HorizontalCard
		title="Overcharge"
		img="/project_images/Overcharge.webp"
		desc="I game I made for a gamejam. It's a top-down shooter where you can only shoot when you are in a circle of light."
		url="https://kaizelzero.itch.io/overcharge"
		badge="GAME"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Demo Project 2"
		img="/post_img.webp"
		desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
		url="#"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Demo Project 3"
		img="/post_img.webp"
		desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
		url="#"
		badge="FOSS"
	/>

	<div>
		<div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
	</div>

	{
		last_posts.map((post) => (
			<>
				<HorizontalCard
					title={post.data.title}
					img={post.data.heroImage}
					desc={post.data.description}
					url={"/blog/" + post.slug}
					target="_self"
					badge={post.data.badge}
				/>
				<div class="divider my-0" />
			</>
		))
	}
</BaseLayout>
